# -*- coding: utf-8 -*-
import os, re

from setuptools import setup, find_packages

here = os.path.abspath(os.path.dirname(__file__))

v = open(os.path.join(here, '{{package_name_underscore}}', '__init__.py'))
version = re.compile(r".*__version__ = '(.*?)'", re.S).match(v.read()).group(1)
v.close()

if (len(sys.argv) > 1) and (sys.argv[1] in ('develop', 'install')):
    import pip
    pip.main(['install', '-r', 'requirements.txt', '--no-clean'])

setup(
    name='{{package_name}}',
    version=version,
    author='{{author}}',
    author_email='{{mail}}',
    packages=find_packages(),
    include_package_data=True,
    zip_safe=False,
    #entry_points="""
    #[console_scripts]
    #scaffolding-engine = {{package_name_underscore}}.scripts:main
    #""",
)
